.card {
	background-color: #2E2E2E;
}

.Highlight {
    background-color: #ffd54f;
}

.card-img-top{
	width: 100%;
	height: 316px;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.card-title {
	text-align: center;
}
.profile-picture {
	max-width: 100%;
  max-height: 100%;
}
.pagination {
	color: #2E2E2E;
}
.page-item {
	color: #2E2E2E;
}
.pagination> li > a {
  background: #2E2E2E;
  color: white;
}
 .pagination> li > .spagination {
  color: white;
}
.popup {
  background: #2E2E2E;
}
.popup-border{
  background: #473c8b;
}
.form-text{
  color: white;
  margin: 5px 5px 5px 5px;
}
.btn-prim{
	margin-top: 10px;
	margin-right: 10px;
	background-color: #473c8b;
	border: 1px solid #2E2E2E;
	color: white;
}
.btn-prim:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}
.btn-primary{
	background-color: #473c8b;
	border: 1px solid #2E2E2E;
	color: white;
}

iframe {
  background: url(../assets/pcman.gif) center center;
  background-repeat: no-repeat;
 }

.title-text {
	text-decoration: underline;
}
.input-group-text{
	background-color: #2E2E2E;
	border: 1px solid #473c8b;
	color: white;
	text-align: center;
}

.equal-img{
	width:100%;
	height:auto;
}

h3	{ color: white;}
h4	{ color: white;}
h6	{ color: white;}
li	{ color: white;}
p	{ color: white;}
.m5 { margin-top:5px; }
.m7 { margin-top:7px; }
.m10 { margin-top:10px; }
.col-centered {
	float: none;
	margin-right: auto;
	margin-left: auto;
}
