	.cardbg {
		background-color: #2E2E2E;
	}

	h1,
    h2,
	h4,
	h6,
	li,
	var,
	p	{ color: white;}

	.m5 { margin-top:5px; }
	.m7 { margin-top:7px; }
	.m10 { margin-top:10px; }
	.col-centered {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
