<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="container w-100">
	<div id="title" class="row justify-content-center">
			<h1 id="name">About</h1><br>
	</div>
	<div id="group" class="row justify-content-center">
			<h2 id="name">Team: SWEat Victory</h2><br>
	</div>
	<div class="row">
		<div id="photos" class="row justify-content-center w-100">
			<div id="photo" class="col-4">
				<figure>
					<img src="https://i.imgur.com/dZFVdNw.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold"><h3>David Castila</h3></div>
					<div class="figure-caption text-left">
						<p class="font-weight-bold">
							Bio: fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
						</p>
					</div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure>
					<img src="https://i.imgur.com/dZFVdNw.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold"><h3>Alexander Dai</h3></div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure>
					<img src="https://i.imgur.com/dZFVdNw.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold"><h3>Robert Hale</h3></div>
				</figure>
			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<div id="desc" class="row align-items-center w-100">
			<div class="col-4 bg-primary">
				<h1 id="name">About</h1><br>
			</div>
			<div class="col-4 bg-primary">
				<h1 id="name">About</h1><br>
			</div>
			<div class="col-4 bg-primary">
				<h1 id="name">About</h1><br>
			</div>
		</div>
	</div>
	-->
	<div class="row">
		<div id="photos" class="row justify-content-center w-100">
			<div id="photo" class="col-4">
				<figure>
					<img src="https://i.imgur.com/dZFVdNw.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold"><h3>Adolfo Lopez</h3></div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure>
					<img src="https://i.imgur.com/dZFVdNw.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold"><h3>Vamsi Ponakala</h3></div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure>
					<img src="https://i.imgur.com/dZFVdNw.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold"><h3>Victor Yang</h3></div>
				</figure>
			</div>
		</div>
	</div>
	<div class="row text-left">
		<div id="sources" class="col-12">
			<h3>Sources:</h3>
		</div>
	</div>
	<br>
	<div class="row text-left">
		<div id="tools" class="col-12">
			<h3>Tools:</h3>
			<p><b>Bootstrap</b> - used for CSS formatting</p>
			<p><b>Flask</b> - used for our web framework</p>
			<p><b>Github</b> - used for our version control</p>
		</div>
	</div>
</body>
</html>