<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/resort.css') }}">
  	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body class="container-fluid text-white" style="background-color: #473c8b">
 <!-- Navbar start -->
   	  <nav class="navbar navbar-toggleable-md sticky-top navbar-inverse" style="background-color: #212121;">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="http://hikingadventures.me">Home</a>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
			  <a class="nav-item nav-link" href="http://hikingadventures.me/resorts">Resorts</a>
			  <a class="nav-item nav-link" href="http://hikingadventures.me/trails">Trails</a>
			  <a class="nav-item nav-link" href="http://hikingadventures.me/photos">Photos</a>
			  <a class="nav-item nav-link" href="http://hikingadventures.me/about">About<span class="sr-only">(current)</span></a>
			</div>
		  </div>
		  <form class="form-inline my-2 my-sm-0 w-40">
			<div class="input-group">
			  <input class="form-control mr-sm-0" type="text" placeholder="">
			  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
			</div>
		  </form>
	  </nav>
  <!-- Navbar end -->
    <div class="container">
	<div id="title" class="row justify-content-center">
			<h1 id="name">About</h1><br>
	</div>
	<div id="group" class="row justify-content-center">
			<h2 id="name">Team: SWEat Victory</h2><br>
	</div>
	<div class="row">
		<div id="photos" class="row justify-content-center w-100">
			<div id="photo" class="col-4">
				<figure class = "text-center">
					<img src="https://i.imgur.com/ZHPGrSu.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold text-white"><h3>David Castila</h3></div>
					<div class="figure-caption text-left text-white">
						<p>
							<b>Bio:</b> I'm a 4th year Computer Science major at the University of Texas at Austin. In my free time I enjoy playing video games and meeting up with friends.
						</p>
						<p>
							<b>Responsibilities:</b> Frontend
						</p>
						<p id = "commits_dc">
							<b># of Commits:</b>
						</p>
						<p>
							<b># of Issues:</b> 1
						</p>
						<p>
							<b># of Unit Tests:</b> 0
						</p>
					</div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure class = "text-center">
					<img src="https://i.imgur.com/4jHX00q.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold text-white"><h3>Alexander Dai</h3></div>
					<div class="figure-caption text-left text-white">
						<p>
							<b>Bio:</b> Hi! My name is Alex and I'm a Junior at the University of Texas at Austin, majoring in Computer Science. Some of my interests within Computer Science include Data Science and Machine Learning. In my free time, I enjoy fishing, playing basketball, playing poker, and hiking.
						</p>
						<p>
							<b>Responsibilities:</b> Frontend
						</p>
						<p id = "commits_ad">
							<b># of Commits:</b>
						</p>
						<p>
							<b># of Issues:</b> 4
						</p>
						<p>
							<b># of Unit Tests:</b> 0
						</p>
					</div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure class = "text-center">
					<img src="https://i.imgur.com/mf7JSRj.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold text-white"><h3>Robert Hale</h3></div>
					<div class="figure-caption text-left text-white">
						<p>
							<b>Bio:</b> Hello, my name is Robert Hale and I'm a Junior at the University of Texas at Austin. I'm majoring in Computer Science with a minor in business. Some of my interests are in backend development and mobile applications. Outside of computer science, I compete in gymnastics and wakeboarding.
						</p>
						<p>
							<b>Responsibilities:</b> Frontend
						</p>
						<p id = "commits_rh">
							<b># of Commits:</b>
						</p>
						<p>
							<b># of Issues:</b> 5
						</p>
						<p>
							<b># of Unit Tests:</b> 0
						</p>
					</div>
				</figure>
			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<div id="desc" class="row align-items-center w-100">
			<div class="col-4 bg-primary">
				<h1 id="name">About</h1><br>
			</div>
			<div class="col-4 bg-primary">
				<h1 id="name">About</h1><br>
			</div>
			<div class="col-4 bg-primary">
				<h1 id="name">About</h1><br>
			</div>
		</div>
	</div>
	-->
	<div class="row">
		<div id="photos" class="row justify-content-center w-100">
			<div id="photo" class="col-4">
				<figure class = "text-center">
					<img src="https://i.imgur.com/F5Y7b3M.jpg" class = "img-thumbnail" width="310" height="310">
					<div class="figure-caption text-center font-weight-bold text-white"><h3>Adolfo Lopez</h3></div>
					<div class="figure-caption text-left text-white">
						<p>
							<b>Bio:</b> I'm a third year Computer Science student. I'm a fan of beautiful design and simplicity in programming and products. Outside of CS, I'm an amateur aquarist with experience breeding invertebrates.
						</p>
						<p>
							<b>Responsibilities:</b> Frontend
						</p>
						<p id = "commits_al">
							<b># of Commits:</b>
						</p>
						<p>
							<b># of Issues:</b> 2
						</p>
						<p>
							<b># of Unit Tests:</b> 0
						</p>
					</div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure class = "text-center">
					<img src="https://i.imgur.com/00OjoLZ.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold text-white"><h3>Vamsi Ponakala</h3></div>
					<div class="figure-caption text-left text-white">
						<p>
							<b>Bio:</b> My name is Vamsi Ponakala, and I'm a junior at UT who is majoring in Computer Science. Some of my interests include learning about history, playing tennis and playing video games in my spare time.
						</p>
						<p>
							<b>Responsibilities:</b> Frontend
						</p>
						<p id = "commits_vp">
							<b># of Commits:</b>
						</p>
						<p>
							<b># of Issues:</b> 3
						</p>
						<p>
							<b># of Unit Tests:</b> 0
						</p>
					</div>
				</figure>
			</div>
			<div id="photo" class="col-4">
				<figure class = "text-center">
					<img src="https://i.imgur.com/zkxl05U.jpg" class = "img-thumbnail" width="300" height="300">
					<div class="figure-caption text-center font-weight-bold text-white"><h3>Victor Yang</h3></div>
					<div class="figure-caption text-left text-white">
						<p>
							<b>Bio:</b> I'm a senior at UT majoring in Computer Science expecting to graduate at the end of this semester. My hobbies include video games and board games, and I also enjoy traveling.
						</p>
						<p>
							<b>Responsibilities:</b> Frontend
						</p>
						<p id = "commits_vy">
							<b># of Commits:</b>
						</p>
						<p>
							<b># of Issues: 1</b>
						</p>
						<p>
							<b># of Unit Tests:</b> 0
						</p>
					</div>
				</figure>
			</div>
		</div>
	</div>
	<br>
	<div>
		<div class="row text-left">
			<div id="stats" class="col-12">
				<h3>Total Stats:</h3>
				<p id="tempcommits"><b>Total Commits:</b></p>
				<p><b>Total Issues:</b> 13</p>
				<p><b>Total of Unit Tests:</b> 0</p>
			</div>
		</div>
		<br>
		<div class="row text-left">
			<div id="sources" class="col-12">
				<h3>Sources:</h3>
				<p><b>www.hikingproject.com/data</b> - provides API for trail info and photos</p>
				<p><b>www.skimap.org</b> - provide API for ski resorts and their information</p>
				<p><b>www.youtube.com</b> - providing API for displaying related youtube videos</p>
			</div>
		</div>
		<br>
		<div class="row text-left">
			<div id="tools" class="col-12">
				<h3>Tools:</h3>
				<p><b>Bootstrap 4</b> - for beautifying and organizing HTML pages.</p>
				<p><b>Flask</b> - for the backend of the website</p>
				<p><b>Github</b> - for maintaining our report and project organization</p>
				<p><b>Slack</b> - for team communication and organization</p>
				<p><b>Postman</b> - for organizing API calls</p>
				<p><b>Amazon AWS</b> - for hosting website</p>
			</div>
		</div>
		<br>
		<div class="row text-left">
			<div id="URLs" class="col-12">
				<p><b>Github: </b> <a href = "https://github.com/RobertHale/HikingAdventure">https://github.com/RobertHale/HikingAdventure</a></p>
				<p><b>Gitbook: </b> <a href = "https://roberthale.gitbooks.io/api/">https://roberthale.gitbooks.io/report/</a></p>
			</div>
		</div>
        </div>
	</div>
	<script>
		var xmlhttp;
		function loadXMLDoc(url,cfunc)
		{
		if (window.XMLHttpRequest)
		{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
		}
		else
		{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange=cfunc;
		xmlhttp.open("GET",url,true);
		xmlhttp.send();
		}
		loadXMLDoc("/githubstats",function()
			{
			if (xmlhttp.readyState==4 && xmlhttp.status==200)
			{
				//call function 3 times, with different years! Create table, profit
				//document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
				var result = xmlhttp.responseText;
				result_array = result.split(" ");


				commits = "<p><b>Total Commits:</b> " + result_array[0] + "</p>"
				issues  = "<p><b>Total Issues:</b> " + result_array[1] + "</p>"

				document.getElementById("tempcommits").innerHTML=commits;
				//document.getElementById("tempissues").innerHTML=issues;

				document.getElementById("commits_vy").innerHTML="<p><b># of Commits:</b> " + result_array[2] + "</p>";
				document.getElementById("commits_al").innerHTML="<p><b># of Commits:</b> " + result_array[3] + "</p>";
				document.getElementById("commits_ad").innerHTML="<p><b># of Commits:</b> " + result_array[4] + "</p>";
				document.getElementById("commits_rh").innerHTML="<p><b># of Commits:</b> " + result_array[5] + "</p>";
				document.getElementById("commits_vp").innerHTML="<p><b># of Commits:</b> " + result_array[6] + "</p>";
				document.getElementById("commits_dc").innerHTML="<p><b># of Commits:</b> " + result_array[7] + "</p>";
			}
			});
	</script>
</body>
</html>
