<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Breckenridge</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="container">
	<div id="title" class="row align-items-center">
		<div class="col-3">
			<h1 id="name">Breckenridge</h1><br>
		</div>
		
	</div>
	<div class="row">
		<div id="main" class="col-auto media border">
			<img src="https://assets.vailresorts.com/-/media/breckenridge/test-images/breck_trail_map_17-18_f-2_resized.jpg" width="700" height="500">
		</div>
		<div class="col-3">
			<h2>Coordinates:</h2>
			<var id="latitude">39.480339 N</var>
			<var id="longitude">106.067072 W</var>
			<h2>total ski runs:</h2>
			<var id="runs">187</var>
			<br><br>
			<form id="web_link" action="https://www.breckenridge.com">
	    		<input type="submit" value="Website" />
			</form>
			<br>
			<h2>Reviews:</h2>
			<p>4 stars from 261 reviews</p>
		</div>
	</div>
	<div id="links" class="row justify-content-start">
		<div class="col-3">
			<h2>Nearby Trails:</h2>
			<a id="trail" href="http://www.hikingadventures.me/trails/3">Aspen Alley Trail</a>
		</div>
		<div class="col-3"></div>
		<div class="col-3">
			<h2>Photos:</h2>
			<a id="photo" href="http://www.hikingadventures.me/photos/3">Aspen Alley Trail photos</a>
		</div>
	</div>
</body>
</html>