<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<br>
	<title>Flash of Gold</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/resort.css') }}">
  	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body class="container-fluid" style="background-color: #473c8b;">
	<nav class="navbar navbar-toggleable-md sticky-top navbar-inverse" style="background-color: #212121;">
	  	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  	</button>
		<a class="navbar-brand" href="http://hikingadventures.me">Home</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="http://hikingadventures.me/resorts">Resorts</a>
			  	<a class="nav-item nav-link" href="http://hikingadventures.me/trails">Trails</a>
			  	<a class="nav-item nav-link" href="http://hikingadventures.me/photos">Photos</a>
			  	<a class="nav-item nav-link" href="http://hikingadventures.me/about">About</a>
			</div>
		</div>
		<form class="form-inline my-2 my-sm-0 w-40">
			<div class="input-group">
			  	<input class="form-control mr-sm-0" type="text" placeholder="">
			  	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
			</div>
		</form>
	</nav>
  	<!-- Navbar end -->


	<div id="title">
		<h1 id="name" style="text-align:center">Flash of Gold</h1><br>
	</div>

	<p style='text-align:center'>
		<img src="https://cdn-files.apstatic.com/hike/7038293_large_1507316439.jpg" width=700px height=400px>
	</p>
	<br><br>
	<div class="row">
		<div class="col-3">
			<h2 id="difficultyheader">Trail Difficulty</h2>
			<var id="difficulty"> Intermediate</var>
		</div>
		<div class="col-3">
			<h2 id="lengthheader">Length</h2>
			<var id="length">11.8 miles</var>
		</div>
		<div class="col-3">
			<h2 id="elevationheader">Elevation Change</h2>
			<var id="ascent">2018 foot ascent</var>
			<br>
			<var id="descent">-298 foot descent</var>
		</div>	
	</div>

	<br><br><br>

	<div>
		<h2 style="text-align:center" id="description">Description</h2>
			<br>
			<div>
				Flash of Gold is part of an expanding trail network. The lowest part of the trail is moderate with many switchbacks and vistas on the way up or down. Hikers can bask in the scenery as the singletrack travels through the trees, fern groves, and open hillsides. At mile 4.45 the trail meets the Flash of Gold to BTR Connector and the end of the first phase 	 of construction.
				<br><br>
				The trail soon transitions to hand-built singletrack where it crosses over Spring Creek. In general, it's rougher technical and more narrow. Ahead, the trail overlaps with FS Road 301 for a series of switchbacks. On hikers right (south), past the third switchback, the trail has been constructed using 2A tax funds generated by hotel room taxes in Steamboat.
				<br><br>
				The steady climbing keeps going through big alpine meadows on the south-side of a tree dotted knoll. Around mile 8.3, the trail again overlaps a short section of road to complete a few switchbacks (you can bailout to FS Road 301 by turning left). Pretty soon Flash of Gold heads into the rocks. This final section links several sections of doubletrack with singletrack to deliver hikers to the end of FS Road 306.1A. From there, it's a short hike to connect with FS Road 306 and then to Buffalo Pass Road 60.
			</div>
	</div>
	<br><br><br>
	<div id="links" class="row justify-content-start">
		<div class="col-3">
			<h2>Nearby Resorts:</h2>
				<a id="trail" href="/resorts/1">Steamboat</a>
		</div>
		<div class="col-3"></div>
		<div class="col-3">
			<h2>Photos:</h2>
			<a id="photo" href="/photos/1">Flash of Gold</a>
		</div>
	</div>
	<br><br><br>
	<div class="row">
		<h2> Related Video Content </h2>
	</div>
	<div class="row">
		<iframe width=700px height=500px src="https://www.youtube.com/embed/slSJffakyPc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
<br><br><br>
</body>