<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flash of Gold-Steamboat Photos</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="container">
        <div id="title" class="row align-items-center">
                <div class="col-md-6">
                        <h1 id="name">Flash of Gold-Steamboat Photos</h1><br>
                </div>

        </div>
        <div class="row">
                <div id="main" class="col-auto media border">
			<img src="https://cdn-files.apstatic.com/hike/7038293_large_1507316439.jpg", width=700, height=400>
                </div>
                <div class="col-3">
                        <h2>Date Taken:</h2>
                        <var id="latitude">October 6th, 2017 </var>
                        <br><br>
                        <br><br>
                        <br><br>
                        <h2>Photographer:</h2>
                        <var id="runs">Andrew Meeusen</var>
                        <br><br>
                </div>
		<div id="main" class="col-auto media border">
                        <img src="https://cdn-files.apstatic.com/hike/7033948_large_1500656764.jpg", width=700, height=400>
                </div>
		<div class="col-3">
                        <h2>Date Taken:</h2>
                        <var id="latitude">July 21th, 2017 </var>
                        <br><br>
                        <br><br>
                        <br><br>
                        <h2>Photographer:</h2>
                        <var id="runs">Scott Bideau</var>
                        <br><br>
                </div>

        </div>


	<div class="row">
                <div id="main" class="col-auto media border">
                        <img src="https://cdn-files.apstatic.com/hike/7005274_large_1434950957.jpg", width=700, height=400>
                </div>
                <div class="col-3">
                        <h2>Date Taken:</h2>
                        <var id="latitude">June 22nd, 2015 </var>
                        <br><br>
                        <br><br>
                        <br><br>
                        <h2>Photographer:</h2>
                        <var id="runs">Todd Straka</var>
                        <br><br>
                </div>
        </div>

        <div id="links" class="row justify-content-start">
                <div class="col-3">
                        <h2>Link to Trail:</h2>
                        <a id="trail" href="http://www.hikingadventures.me/trails/1">Flash of Gold Trail</a>
                </div>
                <div class="col-3">
                        <h2>Link to nearby Resort:</h2>
                        <a id="trail" href="http://hikingadventures.me/resorts/1">Steamboat Resort</a>
                </div>
        </div>
</body>
</html>

