<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <title>HikingAdventure</title>
</head>
<body>
  <!-- Row 1 -->
  <div class="container-fluid" style="background-color: #473c8b;">
    <nav class="navbar navbar-toggleable-md sticky-top navbar-inverse" style="background-color: #212121;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="http://hikingadventures.me">Home</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="http://hikingadventures.me/resorts">Resorts<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="http://hikingadventures.me/trails">Trails</a>
          <a class="nav-item nav-link" href="http://hikingadventures.me/photos">Photos</a>
          <a class="nav-item nav-link" href="http://hikingadventures.me/about">About</a>
        </div>
      </div>
      <form class="form-inline my-2 my-sm-0 w-40">
        <div class="input-group">
          <input class="form-control mr-sm-0" type="text" placeholder="">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </nav>
    <div class="container">
      <div id="content"></div>
    </div>
    <footer class="page-footer center-on-small-only blue-grey lighten-5 pt-0" style="background-color: #473c8b;">
      <div style="background-color: #212121;">
        <div class="container">
          <!--Grid row-->
          <div class="row py-4 d-flex align-items-center">
            <!--Grid column-->
            <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
              <h6 class="mb-0 white-text text-center text-md-left"><strong></strong></h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-7 text-center text-md-right">
              <!--Facebook-->
              <a class="icons-sm fb-ic ml-0"><i class="fa fa-facebook white-text mr-lg-4"> </i></a>
              <!--Twitter-->
              <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text mr-lg-4"> </i></a>
              <!--Google +-->
              <a class="icons-sm gplus-ic"><i class="fa fa-google-plus white-text mr-lg-4"> </i></a>
              <!--Linkedin-->
              <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text mr-lg-4"> </i></a>
              <!--Instagram-->
              <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text mr-lg-4"> </i></a>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
      </div>
      <!--Footer Links-->
      <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">
          <!--First column-->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-r dark-grey-text">
            <h6 class="title font-bold"><strong></strong></h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p id="tempcommits"></p>
            <p id="tempissues"></p>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
            <h6 class="title font-bold"><strong></strong></h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a href="#!" class="dark-grey-text"></a></p>
            <p><a href="#!" class="dark-grey-text"></a></p>
            <p><a href="#!" class="dark-grey-text"></a></p>
            <p><a href="#!" class="dark-grey-text"></a></p>
          </div>
          <!--/.Second column-->

          <!--Third column-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
            <h6 class="title font-bold"><strong></strong></h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a href="#!" class="dark-grey-text"></a></p>
            <p><a href="#!" class="dark-grey-text"></a></p>
            <p><a href="#!" class="dark-grey-text"></a></p>
            <p><a href="#!" class="dark-grey-text"></a></p>
          </div>
          <!--/.Third column-->

          <!--Fourth column-->
          <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
            <h6 class="title font-bold"><strong></strong></h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><i class="fa fa-home mr-3"></i></p>
            <p><i class="fa fa-envelope mr-3"></i></p>
            <p><i class="fa fa-phone mr-3"></i></p>
            <p><i class="fa fa-print mr-3"></i></p>
          </div>
          <!--/.Fourth column-->
        </div>
      </div>
      <!--/.Footer Links-->
      <!-- Copyright-->
      <div class="footer-copyright">
        <div class="container-fluid">
          <center>Placeholder</center>
        </div>
      </div>
      <!--/.Copyright -->
    </footer>
    <!-- Footer End -->
  </div>

  <script type="text/javascript"> day = ['{{ day[0] }}'];</script>
  <script type="text/javascript" src="/../static/dist/bundle.js"></script>
</body>
</html>
