<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <style>
    .m5 { margin-top:5px; }
    .m7 { margin-top:7px; }
    .m10 { margin-top:10px; }
    .w-search { width: 300px; }
  </style>
</head>
<body>
  <div class="container" style="background-color: #e3f2fd;">
    <nav class="navbar navbar-toggleable-md sticky-top navbar-light" style="background-color: #e3f2fd;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link disabled" href="#">Ski Resorts<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link disabled" href="#">Hiking Trails</a>
          <a class="nav-item nav-link disabled" href="#">Photography</a>
        </div>
      </div>
      <form class="form-inline my-2 my-sm-0 w-50">
        <div class="input-group">
          <input class="form-control mr-sm-0" type="text" placeholder="">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </nav>

    <div class="row">
        <div class="col-sm-6">
          <div class="card h-100">
          <img class="card-img-top" src="https://cdn-files.apstatic.com/hike/7038293_medium_1507316439.jpg" height="316px">
          <div class="card-block">
            <h4 class="card-title" align="center">Flash of Gold</h4>
            <p class="card-text">???</p>
          </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/M8hkf2Z.png" height="316px">
            <div class="card-block">
              <h4 class="card-title" align="center">Adolfo</h4>
              <p class="card-text">vn</p>
            </div>
          </div>
        </div>
      </div>
    <div class="row m10">
        <div class="col-sm-6">
          <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/M8hkf2Z.png" height="316px">
            <div class="card-block">
              <h4 class="card-title" align="center">Adolfo</h4>
              <p class="card-text">vn</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/M8hkf2Z.png"height="316px">
            <div class="card-block">
              <h4 class="card-title" align="center">Adolfo</h4>
              <p class="card-text">vn</p>
            </div>
          </div>
        </div>
      </div>
    <div class="row m10">
        <div class="col-sm-6">
          <div class="card h-100">
          <img class="card-img-top" src="https://i.imgur.com/M8hkf2Z.png"height="316px">
            <div class="card-block">
            <h4 class="card-title" align="center">Adolfo</h4>
            <p class="card-text">vn</p>
            </div>
          </div>
        </div>
      </div>

  </div>
</body>
</html>
