<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Steamboat</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="container">
	<div id="title" class="row align-items-center">
		<div class="col-3">
			<h1 id="name">Steamboat</h1><br>
		</div>
		
	</div>
	<div class="row">
		<div id="main" class="col-auto media">
			<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://s3.amazonaws.com/steamboatresort/Resort+Maps/mtbMap17.pdf" width="700" height="500">
		</div>
		<div class="col-3">
			<h2>Coordinates</h2>
			<var id="latitude">40.47666667 N</var>
			<var id="longitude">106.82666667 W</var>
			<h2>total ski runs:</h2>
			<var id="runs">165</var>
			<br><br>
			<form id="web_link" action="https://www.steamboat.com">
	    		<input type="submit" value="Website" />
			</form>
			<br>
			<h2>Reviews:</h2>
			<p>4.5 stars from 92 reviews</p>
		</div>
	</div>
	<div id="links" class="row justify-content-start">
		<div class="col-3">
			<h2>Nearby Trails:</h2>
				<a id="trail" href="/trails/1">Flash of Gold</a>
		</div>
		<div class="col-3"></div>
		<div class="col-3">
			<h2>Photos:</h2>
			<a id="photo" href="/photos/1">Aspen Alley Trail</a>
		</div>
	</div>
</body>
</html>