<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<br>
	<title>Flash of Gold</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/resort.css') }}">
  	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body class="container-fluid" style="background-color: #473c8b;">
	<nav class="navbar navbar-toggleable-md sticky-top navbar-inverse" style="background-color: #212121;">
	  	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  	</button>
		<a class="navbar-brand" href="http://hikingadventures.me">Home</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="http://hikingadventures.me/resorts">Resorts</a>
			  	<a class="nav-item nav-link" href="http://hikingadventures.me/trails">Trails</a>
			  	<a class="nav-item nav-link" href="http://hikingadventures.me/photos">Photos</a>
			  	<a class="nav-item nav-link" href="http://hikingadventures.me/about">About</a>
			</div>
		</div>
		<form class="form-inline my-2 my-sm-0 w-40">
			<div class="input-group">
			  	<input class="form-control mr-sm-0" type="text" placeholder="">
			  	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
			</div>
		</form>
	</nav>
  	<!-- Navbar end -->

<body class="container">
	<div id="title" class="rown align-items-center">
		<h1 id="name">Strawberry Lane</h1><br>
	</div>

	<div class="row">
		<div class="col-auto media border">
			<img src="https://cdn-files.apstatic.com/hike/7000318_large_1420387638.jpg", width=700, height=400>
		</div>
		<div class="col-3">
			<h2 id="difficultyheader">Trail Difficulty</h2>
			<var id="difficulty"> Intermediate</var>
			<br><br><br><br>
			<h2 id="lengthheader">Length</h2>
			<var id="length">1.3 miles</var>
			<br><br><br><br>
			<h2 id="elevationheader">Elevation Change</h2>
			<var id="ascent">762 foot ascent</var>
			<br>
			<var id="descent">-47 foot descent</var>
		</div>	
	</div>

	<br>

	<div class="row">
		<h2 id="description">Description</h2>
			<div>
			This alternate start to the Berry Picker Trail leaves from the Vail Village Gondola One base. Head up steeply through aspen groves and cross small streams, sometimes on bridges sometimes not. This lower part of Strawberry Lane is rooty and can be slick so watch your footing.
			<br><br>
			Cross ski runs and enjoy wildflowers as the trail gains altitude, finally passing a snow-making pond on the right. Instead of heading down towards the snowmaking pond, keep left and after another couple of turns, finally arrive at the junction with Berry Picker from the Lionshead base area.
			</div>
	</div>
	<br>
	<div id="links" class="row justify-content-start">
		<div class="col-3">
			<h2>Nearby Resorts:</h2>
				<a id="trail" href="/resorts/2">Vail</a>
		</div>
		<div class="col-3"></div>
		<div class="col-3">
			<h2>Photos:</h2>
			<a id="photo" href="/photos/2">Strawberry Lane</a>
		</div>
	</div>
	<br><br>
</body>
